dep/OneLogin/Saml2/schemas/eidlogin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- schema for eidlogin app, a stripped down version of TR-03130eID-Server.xsd -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:dss="urn:oasis:names:tc:dss:1.0:core:schema"
	xmlns:tns="http://bsi.bund.de/eID/"
	xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion" 
	targetNamespace="http://bsi.bund.de/eID/"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.0.0 2021-02-23">

	<import namespace="urn:oasis:names:tc:SAML:2.0:assertion"
		schemaLocation="saml-schema-assertion-2.0.xsd" />
	<import namespace="urn:oasis:names:tc:SAML:2.0:protocol"
		schemaLocation="saml-schema-protocol-2.0.xsd" />
	<import namespace="http://www.skidentity.de/att"
		schemaLocation="skidentity-attributes.xsd" />

	<!-- <complexType name="SessionType">
		<sequence>
			<element name="ID">
				<simpleType>
					<restriction base="hexBinary">
						<minLength value="16" />
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<element name="useIDResponse" type="tns:useIDResponseType" />
	<complexType name="useIDResponseType">
		<sequence>
			<element name="Session" type="tns:SessionType" />
			<element name="eCardServerAddress" type="anyURI" minOccurs="0" />
			<element name="PSK" type="tns:PreSharedKeyType" />
			<element ref="dss:Result" />
		</sequence>
	</complexType> -->
	<complexType name="PersonalDataType">
		<sequence>
			<element name="DocumentType" type="tns:DocumentType"
				minOccurs="0" />
			<element name="IssuingState" type="tns:ICAOCountry"
				minOccurs="0" />
			<element name="DateOfExpiry" type="date" minOccurs="0" />
			<element name="GivenNames" type="string" minOccurs="0" />
			<element name="FamilyNames" type="string" minOccurs="0" />
			<element name="ArtisticName" type="string" minOccurs="0" />
			<element name="AcademicTitle" type="string" minOccurs="0" />
			<element name="DateOfBirth" type="tns:GeneralDateType"
				minOccurs="0" />
			<element name="PlaceOfBirth" type="tns:GeneralPlaceType"
				minOccurs="0" />
			<element name="Nationality" type="tns:ICAOCountry" minOccurs="0" />
			<element name="BirthName" type="string" minOccurs="0" />
			<element name="PlaceOfResidence" type="tns:GeneralPlaceType"
				minOccurs="0" />
			<element name="ResidencePermitI" type="string" minOccurs="0" />
			<element name="RestrictedID" type="tns:RestrictedIDType"
				minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="GeneralPlaceType">
		<choice>
			<element name="StructuredPlace" type="tns:PlaceType" />
			<element name="FreetextPlace" type="string" />
			<element name="NoPlaceInfo" type="string" />
		</choice>
	</complexType>
	<complexType name="PlaceType">
		<sequence>
			<element name="Street" type="string" minOccurs="0" />
			<element name="City" type="string" />
			<element name="State" type="string" minOccurs="0" />
			<element name="Country" type="tns:ICAOCountry" />
			<element name="ZipCode" type="string" minOccurs="0" />
		</sequence>
	</complexType>
	<simpleType name="DocumentType">
		<restriction base="string">
			<pattern value="[A-Z ]{2}" />
		</restriction>
	</simpleType>
	<simpleType name="ICAOCountry">
		<restriction base="string">
			<pattern value="[A-Z ]{1,3}" />
		</restriction>
	</simpleType>
	<complexType name="AgeVerificationRequestType">
		<sequence>
			<element name="Age">
				<simpleType>
					<restriction base="int">
						<minInclusive value="0" />
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="VerificationResultType">
		<sequence>
			<element name="FulfilsRequest" type="boolean" />
		</sequence>
	</complexType>
	<!-- <element name="useIDRequest" type="tns:useIDRequestType" />
	<complexType name="useIDRequestType">
		<sequence>
			<element name="UseOperations"
				type="tns:OperationsRequestorType" />
			<element name="AgeVerificationRequest"
				type="tns:AgeVerificationRequestType" minOccurs="0" />
			<element name="PlaceVerificationRequest"
				type="tns:PlaceVerificationRequestType" minOccurs="0" />
			<element name="TransactionAttestationRequest"
				type="tns:TransactionAttestationRequestType" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="LevelOfAssuranceRequest"
				type="tns:LevelOfAssuranceType" maxOccurs="1" minOccurs="0">
			</element>
			<element name="PSK" type="tns:PreSharedKeyType"
				minOccurs="0" />
		</sequence>
	</complexType> -->
	<!-- <complexType name="OperationsSelectorType">
		<sequence>
			<element name="DocumentType" type="tns:AttributeSelectionType"
				default="PROHIBITED" />
			<element name="IssuingState" type="tns:AttributeSelectionType"
				default="PROHIBITED" />
			<element name="DateOfExpiry" type="tns:AttributeSelectionType"
				default="PROHIBITED" />
			<element name="GivenNames" type="tns:AttributeSelectionType"
				default="PROHIBITED" />
			<element name="FamilyNames" type="tns:AttributeSelectionType"
				default="PROHIBITED" />
			<element name="ArtisticName" type="tns:AttributeSelectionType"
				default="PROHIBITED" />
			<element name="AcademicTitle" type="tns:AttributeSelectionType"
				default="PROHIBITED" />
			<element name="DateOfBirth" type="tns:AttributeSelectionType"
				default="PROHIBITED" />
			<element name="PlaceOfBirth" type="tns:AttributeSelectionType"
				default="PROHIBITED" />
			<element name="Nationality" type="tns:AttributeSelectionType"
				default="PROHIBITED" />
			<element name="BirthName" type="tns:AttributeSelectionType"
				default="PROHIBITED" />
			<element name="PlaceOfResidence" type="tns:AttributeSelectionType"
				default="PROHIBITED" />
			<element name="ResidencePermitI" type="tns:AttributeSelectionType"
				default="PROHIBITED" />
			<element name="RestrictedID" type="tns:AttributeSelectionType"
				default="PROHIBITED" />
			<element name="AgeVerification" type="tns:AttributeSelectionType"
				default="PROHIBITED" />
			<element name="PlaceVerification" type="tns:AttributeSelectionType"
				default="PROHIBITED" />
		</sequence>
	</complexType> -->
	<complexType name="PlaceVerificationRequestType">
		<sequence>
			<element name="CommunityID">
				<simpleType>
					<restriction base="string">
						<pattern
							value="[0][0-9]{3}([0-9]{2}([0][0-9]([0-9]{2}([0][0-9]{3})?)?)?)?" />
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<!-- <element name="getServerInfoResponse" type="tns:getServerInfoResponseType" />
	<complexType name="getServerInfoResponseType">
		<sequence>
			<element name="ServerVersion" type="tns:VersionType" />
			<element name="DocumentVerificationRights" type="tns:OperationsSelectorType" />
		</sequence>
	</complexType>
	<complexType name="VersionType">
		<sequence>
			<element name="VersionString" type="string" />
			<element name="Major" type="int" />
			<element name="Minor" type="int" />
			<element name="Bugfix" type="int" minOccurs="0" />
		</sequence>
	</complexType>
	<element name="getServerInfoRequest" type="tns:nullType" />
	<complexType name="nullType">
		<sequence />
	</complexType> -->
	<!-- <element name="getResultRequest" type="tns:getResultRequestType" />
	<complexType name="getResultRequestType">
		<sequence>
			<element name="Session" type="tns:SessionType" />
			<element name="RequestCounter" type="int" />
		</sequence>
	</complexType> -->
	<!-- <element name="getResultResponse" type="tns:getResultResponseType" />
	<complexType name="getResultResponseType">
		<sequence>
			<element name="PersonalData" type="tns:PersonalDataType"
				minOccurs="0" />
			<element name="FulfilsAgeVerification"
				type="tns:VerificationResultType" minOccurs="0" />
			<element name="FulfilsPlaceVerification"
				type="tns:VerificationResultType" minOccurs="0" />
			<element name="OperationsAllowedByUser"
				type="tns:OperationsResponderType" minOccurs="0" />
			<element name="TransactionAttestationResponse"
				type="tns:TransactionAttestationResponseType" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="LevelOfAssuranceResult" type="tns:LevelOfAssuranceType" maxOccurs="1" minOccurs="0"></element>
			<element ref="dss:Result" />
		</sequence>
	</complexType> -->
	<!-- <complexType name="PreSharedKeyType">
		<sequence>
			<element name="ID">
				<simpleType>
					<restriction base="string">
						<minLength value="16" />
					</restriction>
				</simpleType>
			</element>
			<element name="Key">
				<simpleType>
					<restriction base="hexBinary">
						<minLength value="16" />
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType> -->
	<!-- New types for eID-WSDL (after version 1.3) -->
	<complexType name="GeneralDateType">
		<sequence>
			<element name="DateString">
				<simpleType>
					<restriction base="string">
						<whiteSpace value="preserve" />
						<pattern value="[0-9 ]{8}" />
					</restriction>
				</simpleType>
			</element>
			<element name="DateValue" type="date" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="RestrictedIDType">
		<sequence>
			<element name="ID" type="hexBinary" />
			<element name="ID2" type="hexBinary" minOccurs="0" />
		</sequence>
	</complexType>
	<simpleType name="AttributeSelectionType">
		<restriction base="string">
			<enumeration value="ALLOWED" />
			<enumeration value="PROHIBITED" />
		</restriction>
	</simpleType>
	<!-- Additional types for SAML attributes -->
	<complexType name="PlaceVerificationResultType">
		<sequence>
			<element name="Request" type="tns:PlaceVerificationRequestType" />
			<element name="Result" type="tns:VerificationResultType" />
		</sequence>
	</complexType>
	<complexType name="AgeVerificationResultType">
		<sequence>
			<element name="Request" type="tns:AgeVerificationRequestType" />
			<element name="Result" type="tns:VerificationResultType" />
		</sequence>
	</complexType>
	<complexType name="DocumentValidityResultType">
		<sequence>
			<element name="ReferenceDate" type="date" />
			<element name="Status" type="string" />
		</sequence>
		<attribute name="Version" type="positiveInteger" use="required" />
		<anyAttribute namespace="##any" processContents="lax" />
	</complexType>
	<!-- Additional types used in SAML AuthnRequest -->
	<element name="EncryptedAuthnRequestExtension" type="saml:EncryptedElementType">
		<annotation>
			<documentation>
				This element MUST contain an encrypted version of an
				AuthnRequestExtension element within its xenc:EncryptedData
				sub-element.
			</documentation>
		</annotation>
	</element>
	<element name="AuthnRequestExtension" type="tns:AuthnRequestExtensionType" />
	<complexType name="AuthnRequestExtensionType">
		<sequence>
			<element name="RequestedAttributes" type="tns:RequestedAttributesType" />
		</sequence>
		<attribute name="Version" type="positiveInteger" use="required" />
		<anyAttribute namespace="##any" processContents="lax" />
	</complexType>
	<complexType name="RequestedAttributesType">
		<sequence>
			<element ref="saml:Attribute" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<!-- New defined Attribute since Version 1.5 -->
	<attribute name="RequiredAttribute" type="boolean" default="true" />
	<!-- New defined Types and Attributes since Version 2.0 -->
	<!-- No more Unions since 2.0.1 -->
	<simpleType name="AttributeRequestType">
		<restriction base="string">
			<enumeration value="REQUIRED" />
			<enumeration value="ALLOWED" />
			<enumeration value="PROHIBITED" />
		</restriction>
	</simpleType>
	<simpleType name="AttributeResponseType">
		<restriction base="string">
			<enumeration value="NOTONCHIP" />
			<enumeration value="ALLOWED" />
			<enumeration value="PROHIBITED" />
		</restriction>
	</simpleType>

	<attribute name="AttributeNotOnChip" type="boolean" default="false" />
	<!-- <complexType name="OperationsRequestorType">
		<sequence>
			<element name="DocumentType" type="tns:AttributeRequestType"
				default="PROHIBITED" />
			<element name="IssuingState" type="tns:AttributeRequestType"
				default="PROHIBITED" />
			<element name="DateOfExpiry" type="tns:AttributeRequestType"
				default="PROHIBITED" />
			<element name="GivenNames" type="tns:AttributeRequestType"
				default="PROHIBITED" />
			<element name="FamilyNames" type="tns:AttributeRequestType"
				default="PROHIBITED" />
			<element name="ArtisticName" type="tns:AttributeRequestType"
				default="PROHIBITED" />
			<element name="AcademicTitle" type="tns:AttributeRequestType"
				default="PROHIBITED" />
			<element name="DateOfBirth" type="tns:AttributeRequestType"
				default="PROHIBITED" />
			<element name="PlaceOfBirth" type="tns:AttributeRequestType"
				default="PROHIBITED" />
			<element name="Nationality" type="tns:AttributeRequestType"
				default="PROHIBITED" />
			<element name="BirthName" type="tns:AttributeRequestType"
				default="PROHIBITED" />
			<element name="PlaceOfResidence" type="tns:AttributeRequestType"
				default="PROHIBITED" />
			<element name="ResidencePermitI" type="tns:AttributeRequestType"
				default="PROHIBITED" />
			<element name="RestrictedID" type="tns:AttributeRequestType"
				default="PROHIBITED" />
			<element name="AgeVerification" type="tns:AttributeRequestType"
				default="PROHIBITED" />
			<element name="PlaceVerification" type="tns:AttributeRequestType"
				default="PROHIBITED" />
		</sequence>
	</complexType> -->
	<!-- <complexType name="OperationsResponderType">
		<sequence>
			<element name="DocumentType" type="tns:AttributeResponseType"
				default="PROHIBITED" />
			<element name="IssuingState" type="tns:AttributeResponseType"
				default="PROHIBITED" />
			<element name="DateOfExpiry" type="tns:AttributeResponseType"
				default="PROHIBITED" />
			<element name="GivenNames" type="tns:AttributeResponseType"
				default="PROHIBITED" />
			<element name="FamilyNames" type="tns:AttributeResponseType"
				default="PROHIBITED" />
			<element name="ArtisticName" type="tns:AttributeResponseType"
				default="PROHIBITED" />
			<element name="AcademicTitle" type="tns:AttributeResponseType"
				default="PROHIBITED" />
			<element name="DateOfBirth" type="tns:AttributeResponseType"
				default="PROHIBITED" />
			<element name="PlaceOfBirth" type="tns:AttributeResponseType"
				default="PROHIBITED" />
			<element name="Nationality" type="tns:AttributeResponseType"
				default="PROHIBITED" />
			<element name="BirthName" type="tns:AttributeResponseType"
				default="PROHIBITED" />
			<element name="PlaceOfResidence" type="tns:AttributeResponseType"
				default="PROHIBITED" />
			<element name="ResidencePermitI" type="tns:AttributeResponseType"
				default="PROHIBITED" />
			<element name="RestrictedID" type="tns:AttributeResponseType"
				default="PROHIBITED" />
			<element name="AgeVerification" type="tns:AttributeResponseType"
				default="PROHIBITED" />
			<element name="PlaceVerification" type="tns:AttributeResponseType"
				default="PROHIBITED" />
		</sequence>
	</complexType> -->
	
	<!-- Additional types used in SAML AuthnRequest according to eIDAS since Version 2.1.0 -->
	
	<!-- <simpleType name="UseEidasType">
		<restriction base="boolean"></restriction>
	</simpleType> -->
	
	<simpleType name="LevelOfAssuranceType">
		<restriction base="string">
			<enumeration value="http://eidas.europa.eu/LoA/low" />
			<enumeration value="http://eidas.europa.eu/LoA/substantial" />
			<enumeration value="http://eidas.europa.eu/LoA/high" />
			<enumeration value="http://bsi.bund.de/eID/LoA/normal"></enumeration>
			<enumeration
				value="http://bsi.bund.de/eID/LoA/substantiell">
			</enumeration>
			<enumeration value="http://bsi.bund.de/eID/LoA/hoch"></enumeration>
		</restriction>
	</simpleType>

	<!-- <simpleType name="SendingMemberStateType">
		<restriction base="string">
			<pattern value="[A-Z]{2}"></pattern>
		</restriction>
	</simpleType>
	
	<simpleType name="ICAOSex">
		<restriction base="string">
			<enumeration value="M" />
			<enumeration value="F" />
			<enumeration value=" " />
		</restriction>
	</simpleType>
	
	<complexType name="EidasExtensionType">
		<sequence>
			<element name="LevelOfAssurance" type="tns:LevelOfAssuranceType"
				default="http://eidas.europa.eu/LoA/high" minOccurs="0"/>
			<element name="SendingMemberState" type="tns:SendingMemberStateType" minOccurs="0"/>
		</sequence>
	</complexType> -->

	<!-- Additional types used since Version 2.3.0 -->

	<!-- <complexType name="TransactionAttestationRequestType">
		<sequence>
			<element name="TransactionAttestationFormat" type="anyURI"></element>
			<element name="TransactionContext" type="string"></element>
		</sequence>
	</complexType>


	<complexType name="TransactionAttestationResponseType">
		<sequence>
			<element name="TransactionAttestationFormat" type="anyURI"></element>
			<element name="TransactionAttestationData"
				type="dss:AnyType">
			</element>
		</sequence>
	</complexType>


	<simpleType name="IdentityFlavourType">
		<restriction base="string">
			<enumeration value="NaturalPerson"></enumeration>
			<enumeration value="LegalPerson"></enumeration>
			<enumeration value="LegalPersonRepresentative"></enumeration>
		</restriction>
	</simpleType> -->

</schema>